<!DOCTYPE html>
<html lang="en" >
<head>
    <meta charset="UTF-8">
    <title>Equip Care</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link th:href="@{/login.css}" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
    <div class="left">
        <div class="overlay">
            <h1>Equip Care</h1>
            <br>
            <br>
            <p><h2> Central hub where hospital staff can manage various aspects of equipment inventory and maintenance processes.</h2></p>

        </div>
    </div>


    <div class="right">
        <form th:action="@{/hems/login}" method="post">
        <h5>Login</h5>
        <p>Don't have an account? <a href="/hems/register">Creat Your Account</a> it takes less than a minute</p>
        <div class="inputs">
                <input class="form-control" id="inputEmail" type="text" name="username" placeholder="name@example.com" />
                <br>
                <input class="form-control" id="inputPassword" type="password" name="password" placeholder="Password" />
        </div>

        <br><br>

        <div class="remember-me--forget-password">
            <!-- Angular -->
            <label>
                <input type="checkbox" name="item" checked/>
                <span class="text-checkbox">Remember me</span>
            </label>
            <p>forget password?</p>
        </div>

        <br>
        <button type="submit">Login</button>

        </form>
    </div>

</div>
<!-- partial -->

</body>
</html>
