<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Equip Care</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
  <link th:href="@{/login.css}" rel="stylesheet" type="text/css" />

</head>
<body>
<!-- partial:index.partial.html -->
<div class="box-form">
  <div class="left">
    <div class="overlay">
      <h1>Equip Care</h1>
      <br>
      <br>
      <p><h2> Central hub where hospital staff can manage various aspects of equipment inventory and maintenance processes.</h2></p>

    </div>
  </div>


  <div class="right">
      <h5>Register</h5>
    <div class="alert alert-danger" th:if="${isValid != null && !isValid}">Invalid Emaild id.</div>
    <div class="alert alert-success" th:if="${isSuccess != null && isSuccess}">Registration Success! <a class="small" href="/hems/login">Click Here to Login</a></div>
      <div class="inputs" th:if="${isValid == null || (isValid != null && !isValid)}">
        <form th:action="@{/hems/register/check}" method="post" th:object="${user}">
          <input class="form-control" id="inputEmail" th:field="*{email}" name="email" type="email" placeholder="Enter Valid Email Address to continue" />
          <br/>
          <br/>
          <button type="submit">Register</button>
          <br>
        </form>
      </div>
    <div class="inputs" th:if="${isValid != null && isValid}">
      <form th:action="@{/hems/register}" method="post" th:object="${user}">
        <input class="form-control" id="inputEmail" th:field="*{email}" name="email" type="email" placeholder="name@example.com" readonly="true"/>
        <br/>
        <input class="form-control" id="inputPassword" th:field="*{password}" type="password" name="password" placeholder="Password" />
        <br/>
        <br/>
        <button type="submit">Register</button>
      </form>

    </div>

      <br><br>
  </div>

</div>
<!-- partial -->

</body>
</html>
